@page "/resume"

<PageTitle>Resume</PageTitle>

<h3>Resume</h3>

<div class="text-center mt-3 mb-3">
    <a href="EricCHAN.docx" download class="btn btn-primary">Download Resume in Word</a>
    <a href="EricCHAN.pdf" download class="btn btn-primary">Download Resume in PDF</a>
</div>

<div class="container mb-4" style="height:90vh">
    <iframe src="EricCHAN.pdf">
        This browser does not support PDFs. Please download the PDF or Word to view it.
    </iframe>
</div>
