@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/TinPoChan" class="text-black ms-3" target="_blank"><i class="bi bi-github fs-4"></i></a>
            <a href="https://www.linkedin.com/in/ericchanhk/" class="text-black ms-3" target="_blank"><i class="bi bi-linkedin fs-4"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="footer mt-auto py-3 bg-dark text-white">
            <div class="container d-flex align-items-center justify-content-between">
                <span class="text-muted fs-5">Just another cat lover.</span>
                <div>
                    <b class="fs-5">Get in touch!</b>
                    <a href="https://github.com/TinPoChan" class="text-white ms-3" target="_blank"><i class="bi bi-github fs-4"></i></a>
                    <a href="https://www.linkedin.com/in/ericchanhk/" class="text-white ms-2" target="_blank"><i class="bi bi-linkedin fs-4"></i></a>
                </div>
            </div>
        </footer>


    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
